In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [4]:
sns.__version__

'0.11.0'

In [6]:
 pd.__version__

'1.0.5'

In [7]:
pollution_data = pd.read_csv("./datasets/UFOPOLLUTANTS.csv")
pollution_data.head()

,State.Code,city,state,day,month,year,hour,NO2.Mean,NO2.1st.Max.Value,NO2.1st.Max.Hour,...,O3.AQI,SO2.Mean,SO2.1st.Max.Value,SO2.1st.Max.Hour,SO2.AQI,CO.Mean,CO.1st.Max.Value,CO.1st.Max.Hour,CO.AQI,ET
0,4,kingman (desert&#44 out of),az,7,7,2000,21,7.375000,15.0,6,...,45,1.0000,1.0,0,1.0,0.195833,0.3,0,3.0,1
1,4,tacna (approx),az,7,7,2000,21,7.375000,15.0,6,...,45,1.0000,1.0,0,1.0,0.195833,0.3,0,3.0,1
2,4,apache junction,az,6,9,2001,21,7.708333,19.0,6,...,31,0.1875,0.3,2,NaN,0.175000,0.7,6,NaN,1
3,4,sedona,az,5,6,2005,21,7.916667,17.0,6,...,41,3.0000,3.0,0,4.0,0.416667,0.6,6,NaN,1
4,4,tucson,az,5,10,2007,2,8.625000,20.0,6,...,34,0.0375,0.3,23,NaN,0.212500,0.3,5,NaN,1

In [8]:
len(pollution_data.index)

63173

In [9]:
pollution_data = pollution_data.head(1000)

In [10]:
pollution_data.describe()

,State.Code,day,month,year,hour,NO2.Mean,NO2.1st.Max.Value,NO2.1st.Max.Hour,NO2.AQI,O3.Mean,...,O3.AQI,SO2.Mean,SO2.1st.Max.Value,SO2.1st.Max.Hour,SO2.AQI,CO.Mean,CO.1st.Max.Value,CO.1st.Max.Hour,CO.AQI,ET
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,535.000000,1000.000000,1000.000000,1000.000000,506.000000,1000.000000
mean,10.933000,9.963000,4.759000,2002.697000,14.02400,22.794976,40.098100,13.381000,38.19600,0.020961,...,31.566000,2.819909,6.882800,11.445000,10.140187,0.791536,1.630930,9.526000,14.924901,0.621000
std,13.365371,7.372651,3.471739,2.871835,7.92971,14.666838,22.723358,8.109353,21.93168,0.009648,...,16.175825,3.425103,8.855895,7.962058,12.607923,0.655107,1.634725,8.807093,14.159847,0.485381
min,4.000000,1.000000,1.000000,2000.000000,0.00000,0.043478,1.000000,0.000000,1.00000,0.001292,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,5.000000,2.000000,2000.000000,6.00000,10.076087,21.000000,6.000000,20.00000,0.013656,...,23.000000,0.434783,1.000000,5.000000,1.000000,0.329167,0.500000,1.000000,5.000000,0.000000
50%,6.000000,8.000000,3.000000,2002.000000,17.50000,20.043478,37.000000,17.000000,35.00000,0.020292,...,30.500000,1.553571,4.000000,11.000000,6.000000,0.553171,0.900000,7.000000,8.000000,1.000000
75%,6.000000,12.000000,7.000000,2005.000000,21.00000,33.775198,55.000000,21.000000,52.00000,0.027479,...,37.000000,3.829761,10.000000,20.000000,14.000000,1.065217,2.200000,20.000000,20.000000,1.000000
max,51.000000,31.000000,12.000000,2008.000000,23.00000,73.285714,124.000000,23.000000,105.00000,0.059125,...,154.000000,34.260870,124.000000,23.000000,123.000000,3.575000,8.100000,23.000000,59.000000,1.000000