In [1]:
import pandas as pd

In [2]:
ec_data = pd.read_csv('./datasets/echocardiogram.csv')
ec_data.head()

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
0,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.00,1.000,Hendrik,1,0.0
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.70,0.588,Abraham,1,0.0
2,3.0,1.0,NaN,0.0,NaN,12.000,NaN,6.0,3.00,0.140,Candi,2,NaN
3,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.00,1.000,Adam,1,0.0
4,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.45,0.788,Barret,1,0.0

In [3]:
ec_data['age'].isnull().sum()

7

In [6]:
ec_data['age'].notnull().sum()

126

In [7]:
ec_data_filled = ec_data.fillna(0)
ec_data_filled.head()

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
0,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.00,1.000,Hendrik,1,0.0
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.70,0.588,Abraham,1,0.0
2,3.0,1.0,0.0,0.0,0.000,12.000,0.000,6.0,3.00,0.140,Candi,2,0.0
3,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.00,1.000,Adam,1,0.0
4,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.45,0.788,Barret,1,0.0

In [8]:
ec_data_filled['age'].isnull().sum()

0

In [9]:
ec_data_filled['age'].notnull().sum()

133

In [10]:
ec_data_no_missing = ec_data.dropna()
ec_data_no_missing.head()

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
0,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.00,1.000,Hendrik,1,0.0
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.70,0.588,Abraham,1,0.0
3,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.00,1.000,Adam,1,0.0
4,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.45,0.788,Barret,1,0.0
5,19.0,1.0,57.0,0.0,0.160,22.000,5.750,18.0,2.25,0.571,Axel,1,0.0

In [13]:
ec_data_no_missing.notnull().sum()

survival                61
alive                   61
age                     61
pericardialeffusion     61
fractionalshortening    61
epss                    61
lvdd                    61
wallmotion-score        61
wallmotion-index        61
mult                    61
name                    61
group                   61
aliveat1                61
dtype: int64

In [14]:
ec_data.notnull().sum()

survival                130
alive                   131
age                     126
pericardialeffusion     132
fractionalshortening    124
epss                    117
lvdd                    121
wallmotion-score        128
wallmotion-index        130
mult                    129
name                    133
group                   110
aliveat1                 75
dtype: int64

In [15]:
ec_data_replaced = ec_data.replace({'Candi':'Candi Oliveraz',
                                    'Adam':'Adam Schmidt'})
ec_data_replaced.head(10)

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
0,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.000,1.000,Hendrik,1,0.0
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.700,0.588,Abraham,1,0.0
2,3.0,1.0,NaN,0.0,NaN,12.000,NaN,6.0,3.000,0.140,Candi Oliveraz,2,NaN
3,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.000,1.000,Adam Schmidt,1,0.0
4,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.450,0.788,Barret,1,0.0
5,19.0,1.0,57.0,0.0,0.160,22.000,5.750,18.0,2.250,0.571,Axel,1,0.0
6,26.0,0.0,68.0,0.0,0.260,5.000,4.310,12.0,1.000,0.857,Bailey,1,0.0
7,13.0,0.0,62.0,0.0,0.230,31.000,5.430,22.5,1.875,0.857,Cesar,1,0.0
8,50.0,0.0,60.0,0.0,0.330,8.000,5.250,14.0,1.000,1.000,Keith,1,0.0
9,19.0,0.0,46.0,0.0,0.340,0.000,5.090,16.0,1.140,1.003,Davon,1,0.0