In [1]:
import pandas as pd

In [2]:
towed_cars = pd.read_csv('./datasets/Towed_Cars.csv')

towed_cars.head()

,TowNum,Tow_Firm,Vehicle_State,Vehicle_Plate,Vehicle_Year,Make,Model,Color,Date,Time
0,353278,BENTON AUTO BODY,CT,AM91301,2003,NISSAN,XTERRA XE,BLUE,8-20-2018,180
1,353279,RENO'S AUTO BODY,CT,AK15141,2007,FORD ESCAP,XLT,BLUE,8-20-2018,170
2,353280,WHITEY'S FRAME SHOP,CT,408HFD,2013,CHEVY,RELAY 3,BLUE,8-20-2018,175
3,353281,A & N AUTO,CT,193XZS,2002,HONDA,ACCORD,BLUE,8-20-2018,185
4,353282,CENTRAL AUTO & TRANSPORT,CT,AP00237,2005,SATURN,RELAY 3,BLUE,8-20-2018,190

In [4]:
towed_cars['Color']

0      BLUE
1      BLUE
2      BLUE
3      BLUE
4      BLUE
5      BLUE
6      BLUE
7     GREEN
8     GREEN
9     GREEN
10    GREEN
11     GRAY
12     GRAY
13     GRAY
14     GRAY
15     GRAY
Name: Color, dtype: object

In [5]:
towed_cars[['Color','Make']]

    Color           Make
0    BLUE         NISSAN
1    BLUE     FORD ESCAP
2    BLUE          CHEVY
3    BLUE          HONDA
4    BLUE         SATURN
5    BLUE         TOYOTA
6    BLUE        MERCURY
7   GREEN      ACURA RLX
8   GREEN        HONDA-X
9   GREEN      NISSAN-II
10  GREEN  ACURA RLX New
11   GRAY     NISSAN-III
12   GRAY         SUBARU
13   GRAY       HONDA-II
14   GRAY       SUBARU-X
15   GRAY       ACURA-Fo

In [7]:
towed_cars[['Color','Make']].head(9)

   Color        Make
0   BLUE      NISSAN
1   BLUE  FORD ESCAP
2   BLUE       CHEVY
3   BLUE       HONDA
4   BLUE      SATURN
5   BLUE      TOYOTA
6   BLUE     MERCURY
7  GREEN   ACURA RLX
8  GREEN     HONDA-X

In [8]:
towed_cars[['Color','Make']].tail(9)

    Color           Make
7   GREEN      ACURA RLX
8   GREEN        HONDA-X
9   GREEN      NISSAN-II
10  GREEN  ACURA RLX New
11   GRAY     NISSAN-III
12   GRAY         SUBARU
13   GRAY       HONDA-II
14   GRAY       SUBARU-X
15   GRAY       ACURA-Fo

In [9]:
towed_cars.loc[6]

TowNum                       353284
Tow_Firm         CROSS COUNTRY AUTO
Vehicle_State                    CT
Vehicle_Plate                5AUKV8
Vehicle_Year                   2000
Make                        MERCURY
Model                    GRAND MARQ
Color                          BLUE
Date                      8-20-2018
Time                            166
Name: 6, dtype: object

In [10]:
towed_cars[1:8]

,TowNum,Tow_Firm,Vehicle_State,Vehicle_Plate,Vehicle_Year,Make,Model,Color,Date,Time
1,353279,RENO'S AUTO BODY,CT,AK15141,2007,FORD ESCAP,XLT,BLUE,8-20-2018,170
2,353280,WHITEY'S FRAME SHOP,CT,408HFD,2013,CHEVY,RELAY 3,BLUE,8-20-2018,175
3,353281,A & N AUTO,CT,193XZS,2002,HONDA,ACCORD,BLUE,8-20-2018,185
4,353282,CENTRAL AUTO & TRANSPORT,CT,AP00237,2005,SATURN,RELAY 3,BLUE,8-20-2018,190
5,353283,CENTRAL GARAGE,CT,410ZZN,2006,TOYOTA,SIENNA CE/,BLUE,8-20-2018,177
6,353284,CROSS COUNTRY AUTO,CT,5AUKV8,2000,MERCURY,GRAND MARQ,BLUE,8-20-2018,166
7,353285,CAPITOL AUTOMOTIVE LLC,AL,702WUF,2014,ACURA RLX,TECH AUDIO,GREEN,8-20-2018,120

In [13]:
towed_cars.loc[9:13,'TowNum':'Vehicle_Year']

,TowNum,Tow_Firm,Vehicle_State,Vehicle_Plate,Vehicle_Year
9,353277,MODERN GARAGE,AL,XM91398,1990
10,353288,MODERN AUTOMOTIVE LLC,AL,702WUF,2018
11,353290,MODERN GARAGE,QT,AM91398,1999
12,353291,FRIENDLY AUTO BODY & TOWING,QT,907HFD,2001
13,353292,CROSS COUNTRY AUTO_X,QT,976WVV,2012

In [14]:
towed_cars.loc[[1,6,13],:]

,TowNum,Tow_Firm,Vehicle_State,Vehicle_Plate,Vehicle_Year,Make,Model,Color,Date,Time
1,353279,RENO'S AUTO BODY,CT,AK15141,2007,FORD ESCAP,XLT,BLUE,8-20-2018,170
6,353284,CROSS COUNTRY AUTO,CT,5AUKV8,2000,MERCURY,GRAND MARQ,BLUE,8-20-2018,166
13,353292,CROSS COUNTRY AUTO_X,QT,976WVV,2012,HONDA-II,ACCORD,GRAY,8-20-2018,210

In [15]:
towed_cars.iloc[2:6]

,TowNum,Tow_Firm,Vehicle_State,Vehicle_Plate,Vehicle_Year,Make,Model,Color,Date,Time
2,353280,WHITEY'S FRAME SHOP,CT,408HFD,2013,CHEVY,RELAY 3,BLUE,8-20-2018,175
3,353281,A & N AUTO,CT,193XZS,2002,HONDA,ACCORD,BLUE,8-20-2018,185
4,353282,CENTRAL AUTO & TRANSPORT,CT,AP00237,2005,SATURN,RELAY 3,BLUE,8-20-2018,190
5,353283,CENTRAL GARAGE,CT,410ZZN,2006,TOYOTA,SIENNA CE/,BLUE,8-20-2018,177

In [16]:
towed_cars.iloc[2:6,3:6]

  Vehicle_Plate  Vehicle_Year    Make
2        408HFD          2013   CHEVY
3        193XZS          2002   HONDA
4       AP00237          2005  SATURN
5        410ZZN          2006  TOYOTA

In [17]:
towed_cars.iloc[2:6,:]

,TowNum,Tow_Firm,Vehicle_State,Vehicle_Plate,Vehicle_Year,Make,Model,Color,Date,Time
2,353280,WHITEY'S FRAME SHOP,CT,408HFD,2013,CHEVY,RELAY 3,BLUE,8-20-2018,175
3,353281,A & N AUTO,CT,193XZS,2002,HONDA,ACCORD,BLUE,8-20-2018,185
4,353282,CENTRAL AUTO & TRANSPORT,CT,AP00237,2005,SATURN,RELAY 3,BLUE,8-20-2018,190
5,353283,CENTRAL GARAGE,CT,410ZZN,2006,TOYOTA,SIENNA CE/,BLUE,8-20-2018,177

In [20]:
towed_cars[towed_cars['Vehicle_Year']>2005]

,TowNum,Tow_Firm,Vehicle_State,Vehicle_Plate,Vehicle_Year,Make,Model,Color,Date,Time
1,353279,RENO'S AUTO BODY,CT,AK15141,2007,FORD ESCAP,XLT,BLUE,8-20-2018,170
2,353280,WHITEY'S FRAME SHOP,CT,408HFD,2013,CHEVY,RELAY 3,BLUE,8-20-2018,175
5,353283,CENTRAL GARAGE,CT,410ZZN,2006,TOYOTA,SIENNA CE/,BLUE,8-20-2018,177
7,353285,CAPITOL AUTOMOTIVE LLC,AL,702WUF,2014,ACURA RLX,TECH AUDIO,GREEN,8-20-2018,120
8,353286,CORONA'S AUTO PARTS INC,AL,427WVV,2008,HONDA-X,CIVIC,GREEN,8-20-2018,135
10,353288,MODERN AUTOMOTIVE LLC,AL,702WUF,2018,ACURA RLX New,TECH AUDIO,GREEN,8-20-2018,140
13,353292,CROSS COUNTRY AUTO_X,QT,976WVV,2012,HONDA-II,ACCORD,GRAY,8-20-2018,210
14,353293,CENTRAL AUTO & TRANSPORT,QT,AG79812,2013,SUBARU-X,LEGACY,GRAY,8-20-2018,215

In [21]:
towed_cars[towed_cars['Vehicle_State'] == "CT"]

,TowNum,Tow_Firm,Vehicle_State,Vehicle_Plate,Vehicle_Year,Make,Model,Color,Date,Time
0,353278,BENTON AUTO BODY,CT,AM91301,2003,NISSAN,XTERRA XE,BLUE,8-20-2018,180
1,353279,RENO'S AUTO BODY,CT,AK15141,2007,FORD ESCAP,XLT,BLUE,8-20-2018,170
2,353280,WHITEY'S FRAME SHOP,CT,408HFD,2013,CHEVY,RELAY 3,BLUE,8-20-2018,175
3,353281,A & N AUTO,CT,193XZS,2002,HONDA,ACCORD,BLUE,8-20-2018,185
4,353282,CENTRAL AUTO & TRANSPORT,CT,AP00237,2005,SATURN,RELAY 3,BLUE,8-20-2018,190
5,353283,CENTRAL GARAGE,CT,410ZZN,2006,TOYOTA,SIENNA CE/,BLUE,8-20-2018,177
6,353284,CROSS COUNTRY AUTO,CT,5AUKV8,2000,MERCURY,GRAND MARQ,BLUE,8-20-2018,166

In [23]:
towed_cars[(towed_cars['Vehicle_State'] == "CT") & (towed_cars['Vehicle_Year']>2005)]

,TowNum,Tow_Firm,Vehicle_State,Vehicle_Plate,Vehicle_Year,Make,Model,Color,Date,Time
1,353279,RENO'S AUTO BODY,CT,AK15141,2007,FORD ESCAP,XLT,BLUE,8-20-2018,170
2,353280,WHITEY'S FRAME SHOP,CT,408HFD,2013,CHEVY,RELAY 3,BLUE,8-20-2018,175
5,353283,CENTRAL GARAGE,CT,410ZZN,2006,TOYOTA,SIENNA CE/,BLUE,8-20-2018,177

In [25]:
towed_cars[(towed_cars['Vehicle_State'] == "AL") | (towed_cars['Vehicle_Year']>2005)]

,TowNum,Tow_Firm,Vehicle_State,Vehicle_Plate,Vehicle_Year,Make,Model,Color,Date,Time
1,353279,RENO'S AUTO BODY,CT,AK15141,2007,FORD ESCAP,XLT,BLUE,8-20-2018,170
2,353280,WHITEY'S FRAME SHOP,CT,408HFD,2013,CHEVY,RELAY 3,BLUE,8-20-2018,175
5,353283,CENTRAL GARAGE,CT,410ZZN,2006,TOYOTA,SIENNA CE/,BLUE,8-20-2018,177
7,353285,CAPITOL AUTOMOTIVE LLC,AL,702WUF,2014,ACURA RLX,TECH AUDIO,GREEN,8-20-2018,120
8,353286,CORONA'S AUTO PARTS INC,AL,427WVV,2008,HONDA-X,CIVIC,GREEN,8-20-2018,135
9,353277,MODERN GARAGE,AL,XM91398,1990,NISSAN-II,MAXIMA,GREEN,8-20-2018,130
10,353288,MODERN AUTOMOTIVE LLC,AL,702WUF,2018,ACURA RLX New,TECH AUDIO,GREEN,8-20-2018,140
13,353292,CROSS COUNTRY AUTO_X,QT,976WVV,2012,HONDA-II,ACCORD,GRAY,8-20-2018,210
14,353293,CENTRAL AUTO & TRANSPORT,QT,AG79812,2013,SUBARU-X,LEGACY,GRAY,8-20-2018,215

In [27]:
towed_cars[~(towed_cars['Color']=='BLUE')]

,TowNum,Tow_Firm,Vehicle_State,Vehicle_Plate,Vehicle_Year,Make,Model,Color,Date,Time
7,353285,CAPITOL AUTOMOTIVE LLC,AL,702WUF,2014,ACURA RLX,TECH AUDIO,GREEN,8-20-2018,120
8,353286,CORONA'S AUTO PARTS INC,AL,427WVV,2008,HONDA-X,CIVIC,GREEN,8-20-2018,135
9,353277,MODERN GARAGE,AL,XM91398,1990,NISSAN-II,MAXIMA,GREEN,8-20-2018,130
10,353288,MODERN AUTOMOTIVE LLC,AL,702WUF,2018,ACURA RLX New,TECH AUDIO,GREEN,8-20-2018,140
11,353290,MODERN GARAGE,QT,AM91398,1999,NISSAN-III,MAXIMA,GRAY,8-20-2018,190
12,353291,FRIENDLY AUTO BODY & TOWING,QT,907HFD,2001,SUBARU,LEGACY,GRAY,8-20-2018,188
13,353292,CROSS COUNTRY AUTO_X,QT,976WVV,2012,HONDA-II,ACCORD,GRAY,8-20-2018,210
14,353293,CENTRAL AUTO & TRANSPORT,QT,AG79812,2013,SUBARU-X,LEGACY,GRAY,8-20-2018,215
15,353294,CROSS COUNTRY AUTO,QT,AM31852,1995,ACURA-Fo,3.2 TL,GRAY,8-20-2018,220