In [1]:
import pandas as pd

### Details of Datasets (we can ignore 10, 11, 12)
1. survival – the number of months patient survived (has survived, if patient is still alive). Because all the patients had their heart attacks at different times, it is possible that some patients have survived less than one year but they are still alive. Check the second variable to confirm this. Such patients cannot be used for the prediction task mentioned above.
2. still-alive – a binary variable. 0=dead at end of survival period, 1 means still alive
3. age-at-heart-attack – age in years when heart attack occurred
4. pericardial-effusion – binary. Pericardial effusion is fluid around the heart. 0=no fluid, 1=fluid
5. fractional-shortening – a measure of contracility around the heart lower numbers are increasingly abnormal
6. epss – E-point septal separation, another measure of contractility. Larger numbers are increasingly abnormal.
7. lvdd – left ventricular end-diastolic dimension. This is a measure of the size of the heart at end-diastole. Large hearts tend to be sick hearts.
8. wall-motion-score – a measure of how the segments of the left ventricle are moving
9. wall-motion-index – equals wall-motion-score divided by number of segments seen
10. mult -- a derivate var which can be ignored 
11. name -- the name of the patient (I have replaced 'name' with certain names) 
12. group -- meaningless, ignore it 
13. alive-at-1 – Boolean-valued. Derived from the first two attributes. 0 means patient was either dead after 1 year or had been followed for less than 1 year. 1 means patient was alive at 1 year.

http://archive.ics.uci.edu/ml/datasets/Echocardiogram

https://www.kaggle.com/loganalive/echocardiogram-dataset-uci/data?scriptVersionId=3635173

In [2]:
unsorted_data = pd.read_csv('./datasets/echocardiogram.csv')

#### Limiting our data to the first 15 rows of the dataset

In [3]:
unsorted_data = unsorted_data[:15]

unsorted_data

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
0,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.000,1.000,Hendrik,1,0.0
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.700,0.588,Abraham,1,0.0
2,3.0,1.0,NaN,0.0,NaN,12.000,NaN,6.0,3.000,0.140,Candi,2,NaN
3,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.000,1.000,Adam,1,0.0
4,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.450,0.788,Barret,1,0.0
5,19.0,1.0,57.0,0.0,0.160,22.000,5.750,18.0,2.250,0.571,Axel,1,0.0
6,26.0,0.0,68.0,0.0,0.260,5.000,4.310,12.0,1.000,0.857,Bailey,1,0.0
7,13.0,0.0,62.0,0.0,0.230,31.000,5.430,22.5,1.875,0.857,Cesar,1,0.0
8,50.0,0.0,60.0,0.0,0.330,8.000,5.250,14.0,1.000,1.000,Keith,1,0.0
9,19.0,0.0,46.0,0.0,0.340,0.000,5.090,16.0,1.140,1.003,Davon,1,0.0
10,25.0,0.0,54.0,0.0,0.140,13.000,4.490,15.5,1.190,0.930,Ferd,1,0.0
11,10.0,1.0,77.0,0.0,0.130,16.000,4.230,18.0,1.800,0.714,Dyson,1,1.0
12,52.0,0.0,62.0,1.0,0.450,9.000,3.600,16.0,1.140,1.003,Elvin,1,0.0
13,52.0,0.0,73.0,0.0,0.330,6.000,4.000,14.0,1.000,1.000,Galen,1,0.0
14,44.0,0.0,60.0,0.0,0.150,10.000,3.730,14.0,1.000,1.000,Hyatt,1,0.0

#### Defining our own index values

In [4]:
unsorted_data.index = [4, 1, 2, 5, 3, 8, 9, 7, 6, 12, 10, 11, 9, 13, 14]

unsorted_data

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
4,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.000,1.000,Hendrik,1,0.0
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.700,0.588,Abraham,1,0.0
2,3.0,1.0,NaN,0.0,NaN,12.000,NaN,6.0,3.000,0.140,Candi,2,NaN
5,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.000,1.000,Adam,1,0.0
3,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.450,0.788,Barret,1,0.0
8,19.0,1.0,57.0,0.0,0.160,22.000,5.750,18.0,2.250,0.571,Axel,1,0.0
9,26.0,0.0,68.0,0.0,0.260,5.000,4.310,12.0,1.000,0.857,Bailey,1,0.0
7,13.0,0.0,62.0,0.0,0.230,31.000,5.430,22.5,1.875,0.857,Cesar,1,0.0
6,50.0,0.0,60.0,0.0,0.330,8.000,5.250,14.0,1.000,1.000,Keith,1,0.0
12,19.0,0.0,46.0,0.0,0.340,0.000,5.090,16.0,1.140,1.003,Davon,1,0.0
10,25.0,0.0,54.0,0.0,0.140,13.000,4.490,15.5,1.190,0.930,Ferd,1,0.0
11,10.0,1.0,77.0,0.0,0.130,16.000,4.230,18.0,1.800,0.714,Dyson,1,1.0
9,52.0,0.0,62.0,1.0,0.450,9.000,3.600,16.0,1.140,1.003,Elvin,1,0.0
13,52.0,0.0,73.0,0.0,0.330,6.000,4.000,14.0,1.000,1.000,Galen,1,0.0
14,44.0,0.0,60.0,0.0,0.150,10.000,3.730,14.0,1.000,1.000,Hyatt,1,0.0

#### Sorting by index
By default, the rows are sorted in ascending order of index

In [5]:
sorted_data = unsorted_data.sort_index()

sorted_data

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.700,0.588,Abraham,1,0.0
2,3.0,1.0,NaN,0.0,NaN,12.000,NaN,6.0,3.000,0.140,Candi,2,NaN
3,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.450,0.788,Barret,1,0.0
4,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.000,1.000,Hendrik,1,0.0
5,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.000,1.000,Adam,1,0.0
6,50.0,0.0,60.0,0.0,0.330,8.000,5.250,14.0,1.000,1.000,Keith,1,0.0
7,13.0,0.0,62.0,0.0,0.230,31.000,5.430,22.5,1.875,0.857,Cesar,1,0.0
8,19.0,1.0,57.0,0.0,0.160,22.000,5.750,18.0,2.250,0.571,Axel,1,0.0
9,26.0,0.0,68.0,0.0,0.260,5.000,4.310,12.0,1.000,0.857,Bailey,1,0.0
9,52.0,0.0,62.0,1.0,0.450,9.000,3.600,16.0,1.140,1.003,Elvin,1,0.0
10,25.0,0.0,54.0,0.0,0.140,13.000,4.490,15.5,1.190,0.930,Ferd,1,0.0
11,10.0,1.0,77.0,0.0,0.130,16.000,4.230,18.0,1.800,0.714,Dyson,1,1.0
12,19.0,0.0,46.0,0.0,0.340,0.000,5.090,16.0,1.140,1.003,Davon,1,0.0
13,52.0,0.0,73.0,0.0,0.330,6.000,4.000,14.0,1.000,1.000,Galen,1,0.0
14,44.0,0.0,60.0,0.0,0.150,10.000,3.730,14.0,1.000,1.000,Hyatt,1,0.0

#### Sorting in descending order of index

In [6]:
sorted_data = sorted_data.sort_index( ascending = False)

sorted_data

#### Sorting the columns by the column headers
Specify the axis along which to sort. The default is 0 for the rows axis, while axis #1 represents the columns

In [7]:
unsorted_data.sort_index( axis = 1)

,age,alive,aliveat1,epss,fractionalshortening,group,lvdd,mult,name,pericardialeffusion,survival,wallmotion-index,wallmotion-score
4,71.0,0.0,0.0,9.000,0.260,1,4.600,1.000,Hendrik,0.0,11.0,1.000,14.0
1,72.0,0.0,0.0,6.000,0.380,1,4.100,0.588,Abraham,0.0,19.0,1.700,14.0
2,NaN,1.0,NaN,12.000,NaN,2,NaN,0.140,Candi,0.0,3.0,3.000,6.0
5,55.0,0.0,0.0,4.000,0.260,1,3.420,1.000,Adam,0.0,16.0,1.000,14.0
3,60.0,0.0,0.0,12.062,0.253,1,4.603,0.788,Barret,0.0,57.0,1.450,16.0
8,57.0,1.0,0.0,22.000,0.160,1,5.750,0.571,Axel,0.0,19.0,2.250,18.0
9,68.0,0.0,0.0,5.000,0.260,1,4.310,0.857,Bailey,0.0,26.0,1.000,12.0
7,62.0,0.0,0.0,31.000,0.230,1,5.430,0.857,Cesar,0.0,13.0,1.875,22.5
6,60.0,0.0,0.0,8.000,0.330,1,5.250,1.000,Keith,0.0,50.0,1.000,14.0
12,46.0,0.0,0.0,0.000,0.340,1,5.090,1.003,Davon,0.0,19.0,1.140,16.0
10,54.0,0.0,0.0,13.000,0.140,1,4.490,0.930,Ferd,0.0,25.0,1.190,15.5
11,77.0,1.0,1.0,16.000,0.130,1,4.230,0.714,Dyson,0.0,10.0,1.800,18.0
9,62.0,0.0,0.0,9.000,0.450,1,3.600,1.003,Elvin,1.0,52.0,1.140,16.0
13,73.0,0.0,0.0,6.000,0.330,1,4.000,1.000,Galen,0.0,52.0,1.000,14.0
14,60.0,0.0,0.0,10.000,0.150,1,3.730,1.000,Hyatt,0.0,44.0,1.000,14.0

#### Sorting one of the columns in the DataFrame
Each column is treated as a Series and we can sort these as well

In [8]:
sorted_data['epss'].sort_index()

1      6.000
2     12.000
3     12.062
4      9.000
5      4.000
6      8.000
7     31.000
8     22.000
9      5.000
9      9.000
10    13.000
11    16.000
12     0.000
13     6.000
14    10.000
Name: epss, dtype: float64

### Sorting by values
So far we have sorted the DataFrames by their index (and columns). We can also sort by the values in the cells

In [9]:
unsorted_data

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
4,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.000,1.000,Hendrik,1,0.0
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.700,0.588,Abraham,1,0.0
2,3.0,1.0,NaN,0.0,NaN,12.000,NaN,6.0,3.000,0.140,Candi,2,NaN
5,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.000,1.000,Adam,1,0.0
3,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.450,0.788,Barret,1,0.0
8,19.0,1.0,57.0,0.0,0.160,22.000,5.750,18.0,2.250,0.571,Axel,1,0.0
9,26.0,0.0,68.0,0.0,0.260,5.000,4.310,12.0,1.000,0.857,Bailey,1,0.0
7,13.0,0.0,62.0,0.0,0.230,31.000,5.430,22.5,1.875,0.857,Cesar,1,0.0
6,50.0,0.0,60.0,0.0,0.330,8.000,5.250,14.0,1.000,1.000,Keith,1,0.0
12,19.0,0.0,46.0,0.0,0.340,0.000,5.090,16.0,1.140,1.003,Davon,1,0.0
10,25.0,0.0,54.0,0.0,0.140,13.000,4.490,15.5,1.190,0.930,Ferd,1,0.0
11,10.0,1.0,77.0,0.0,0.130,16.000,4.230,18.0,1.800,0.714,Dyson,1,1.0
9,52.0,0.0,62.0,1.0,0.450,9.000,3.600,16.0,1.140,1.003,Elvin,1,0.0
13,52.0,0.0,73.0,0.0,0.330,6.000,4.000,14.0,1.000,1.000,Galen,1,0.0
14,44.0,0.0,60.0,0.0,0.150,10.000,3.730,14.0,1.000,1.000,Hyatt,1,0.0

#### Sort the data by the contents of the age column
Use the sort_values() function and use the 'by' argument to set the column whose values should be used for the sorting

In [10]:
unsorted_data.sort_values( by = 'age')

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
12,19.0,0.0,46.0,0.0,0.340,0.000,5.090,16.0,1.140,1.003,Davon,1,0.0
10,25.0,0.0,54.0,0.0,0.140,13.000,4.490,15.5,1.190,0.930,Ferd,1,0.0
5,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.000,1.000,Adam,1,0.0
8,19.0,1.0,57.0,0.0,0.160,22.000,5.750,18.0,2.250,0.571,Axel,1,0.0
3,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.450,0.788,Barret,1,0.0
6,50.0,0.0,60.0,0.0,0.330,8.000,5.250,14.0,1.000,1.000,Keith,1,0.0
14,44.0,0.0,60.0,0.0,0.150,10.000,3.730,14.0,1.000,1.000,Hyatt,1,0.0
7,13.0,0.0,62.0,0.0,0.230,31.000,5.430,22.5,1.875,0.857,Cesar,1,0.0
9,52.0,0.0,62.0,1.0,0.450,9.000,3.600,16.0,1.140,1.003,Elvin,1,0.0
9,26.0,0.0,68.0,0.0,0.260,5.000,4.310,12.0,1.000,0.857,Bailey,1,0.0
4,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.000,1.000,Hendrik,1,0.0
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.700,0.588,Abraham,1,0.0
13,52.0,0.0,73.0,0.0,0.330,6.000,4.000,14.0,1.000,1.000,Galen,1,0.0
11,10.0,1.0,77.0,0.0,0.130,16.000,4.230,18.0,1.800,0.714,Dyson,1,1.0
2,3.0,1.0,NaN,0.0,NaN,12.000,NaN,6.0,3.000,0.140,Candi,2,NaN

#### Sorting can be done on multiple values
Data is first sorted by the 'survival' value and then by 'age'

In [11]:
unsorted_data[['survival',
               'age',
               'epss',
               'lvdd',
               'wallmotion-score']].sort_values( by = ['survival',
                                                       'age'])

    survival   age    epss   lvdd  wallmotion-score
2        3.0   NaN  12.000    NaN               6.0
11      10.0  77.0  16.000  4.230              18.0
4       11.0  71.0   9.000  4.600              14.0
7       13.0  62.0  31.000  5.430              22.5
5       16.0  55.0   4.000  3.420              14.0
12      19.0  46.0   0.000  5.090              16.0
8       19.0  57.0  22.000  5.750              18.0
1       19.0  72.0   6.000  4.100              14.0
10      25.0  54.0  13.000  4.490              15.5
9       26.0  68.0   5.000  4.310              12.0
14      44.0  60.0  10.000  3.730              14.0
6       50.0  60.0   8.000  5.250              14.0
9       52.0  62.0   9.000  3.600              16.0
13      52.0  73.0   6.000  4.000              14.0
3       57.0  60.0  12.062  4.603              16.0